<!DOCTYPE html >
<!--ng-app directive  -->
<html lang="en" ng-app="mymodule">

<head>
  <title>Mr.Das NonNinja AngularJS Application</title>
  <script src="app/angular.min.js"></script>
  <script src="js/module.js"></script>
</head>

<body ng-controller="mycontroller">
  <div>It's me...</div>
  <img ng-src="{{details.photo}}" alt="{{details.name  + ' My Photo'}}" style="height: 150px;width:200px"></img>

  <div>
    <table>
      <thead>
        <tr>
          <td>FName</td>
          <td>LName</td>
          <td>Gender</td>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employees">
          <td>{{employee.fname}}</td>
          <td>{{employee.lname}}</td>
          <td>{{employee.gender}}</td>

        </tr>
      </tbody>
    </table>
  </div>
  </br></br>
  <div>
   Number of Rows to Display: <input type="number" min="0" max="5" step="1" ng-model="rowlimit" />
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Likes</th>
          <th>Dislikes</th>
          <th>Likes/DisLikes</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tech in technologies | limitTo:rowlimit:1">
          <td>{{tech.name}}</td>
          <td>{{tech.likes}}</td>
          <td>{{tech.dislikes}}</td>
          <td>
            <input type="button" value="Likes" ng-click="likes(tech)" />
            <input type="button" value="DisLikes" ng-click="dislikes(tech)" />

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</br></br>
  <div>
   Order By: <select ng-model="sortBy">
     <option value="fname"> FName By ASC</option>
     <option value="-lname"> LName By Desc</option>
     <option value="gender"> Gender By ASC</option>
     <option value="-salary"> Salary By Desc</option>
   </select>
    <table>
      <thead>
        <tr>
          <td>FName</td>
          <td>LName</td>
          <td>Gender</td>
          <td>Salary</td>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in  sortingData | orderBy:sortBy"/>
          <td>{{employee.fname}}</td>
          <td>{{employee.lname}}</td>
          <td>{{employee.gender}}</td>
          <td>{{employee.salary}}</td>

        </tr>
</tbody>
    </table>
  </div>

</body>
              

</html>